Makefile
build/
plugin/alie/src/
plugin/alie/*.o
plugin/alie/*.lo
plugin/alie/*.la
plugin/alie/*.tar.gz
plugin/alie/*.zip
plugin/alie/*~
plugin/alie/.deps
plugin/alie/.libs
plugin/alie/.dirstamp
plugin/alie/Makefile.in
plugin/alie/Makefile
plugin/alie//aclocal.m4
plugin/alie//autom4te.cache
plugin/alie//config.h
plugin/alie//config.h.in
plugin/alie//config.log
plugin/alie//config.lt
plugin/alie//config.status
plugin/alie//configure
plugin/alie//libtool
plugin/alie//stamp-h1
plugin/alie//alien*.rockspec
plugin/alie//pulgin/cffi-lua/build
